<?xml version='1.0' encoding='utf-8'?>
<odoo>
    <data>
    
        <menuitem name="Garaje" id="garaje.menu_root"/>
    
        <!-- menu categories -->
        
        <menuitem name="Estacionamientos" id="garaje.estacionamiento_menu" parent="garaje.menu_root" action="garaje.estacionamiento_action_window"/>
        <menuitem name="Autos" id="garaje.auto_menu" parent="garaje.menu_root" action="garaje.auto_action_window"/>
        <menuitem name="Motos" id="garaje.moto_menu" parent="garaje.menu_root" action="garaje.moto_action_window"/>
        <menuitem name="Mantenimientos" id="garaje.mantenimiento_menu" parent="garaje.menu_root" action="garaje.mantenimiento_action_window"/>
        
    
    </data>
    
</odoo>